body {
  margin: 0;
  
  background-image: url("bg.jpg");
  background-size: auto; 
  
  font: normal 20px Verdana, Geneva, Tahoma, sans-serif; 
  font-weight: bold;
  color: rgb(248, 235, 210);   
  line-height: 2em;        
}

.container {    
  margin: 50px auto;    
  padding-bottom: 35px;
  width: 80%;
  min-width: 500px; 
  min-height: 70vh;   

  background-color: #4e4a4a;  
  box-shadow: 5px 5px 5px gray;
  
  display: flex;    
  flex-wrap: wrap;    
  justify-content: space-evenly; 
}

#boards-div {
  display: flex;    
  flex-wrap: wrap;    
  justify-content: space-evenly; 

}

#header {
  width: 100%;
  margin-top: 30px;
  padding: 20px 100px;
  height: 35px;
  
  background-color: #6d2f22b5;     
  margin-bottom: 50px;         
}

select {
  background-color: rgb(245, 233, 210);
  border-radius: 3px;
}

#solutions-p {
  font-size: 18px;
  font-weight: normal;
}

input[type=submit] {
  padding: 4px 14px; 
  border-radius: 10px;

  background-color: wheat;
  border: 1px solid #88768a;
  font-weight: bold;
  font-size: 16px;

  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: rgb(209, 178, 121);

}

.board {
  border: black;
  padding: 25px
}
.row {
  display: flex;
}
.square {
  /* flex: 1; */
  width: 45px;
  height: 45px;
}
.black {
  background: rgb(34, 2, 2);
}
.white {
  background: rgb(247, 242, 228);
}
.queen {
  background: #c27667dc;
  background-image: url("queen.png");
  background-size: cover;
  opacity: 0.8;
}